::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #6b6969; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1e1e1e;
    color: #cccccc;
    text-align: center;
}

.channel-bar{
    height: 300px;
    display: flex;
}
.channel{
    height: 100%;
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.channel select{
    width: 70%;
    background-color: #252526;
    border-color: #41414163;
    margin-bottom: 20px;
}

.menu-bar{
    height: 200px;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

.menu-entry{
    width: 25%;
    height: 100%;
}

.running{
    display: flex;
    align-items: center;
    height: 33.333%;
    width: 100%;
}

.running p{
    width: min-content;
}
.circle{
    background-color: green;

    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 20px;
}

.start-stop{
    width: 100%;
    height: 50%;
}

.start-stop button{
    /* width: 70%;
    height: 50%;

    background-color:#252526 ;
    border-color: #41414163;
    color: #cccccc;
    font-weight: bold;
    float: left; */

    width: 70%;
    height: 40px;

    margin-bottom: 13px;
    
    background-color:#252526 ;
    border-color: #41414163;
    color: #cccccc;
    font-weight: bold;
    float: left;
}

.menu-entry select{
    width: 100%;
    height: 100%;
    background-color:#252526 ;
    border-color: #41414163;
    color: #cccccc;
}

.add-delete{
    width: 100%;
    height: 100%;
    padding-left: 50px;
}

.add-delete button{
    width: 70%;
    height: 20%;

    margin-bottom: 13px;
    
    background-color:#252526 ;
    border-color: #41414163;
    color: #cccccc;
    font-weight: bold;
    float: left;
}

.cancel-save{
    width: 100%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column-reverse;
}

.cancel-save button{
    width: 70%;
    height: 20%;

    margin-top: 13px;
    
    background-color:#252526 ;
    border-color: #41414163;
    color: #cccccc;
    font-weight: bold;
    float: left;
}

.channel_select{
    background-color:#252526 ;
    border-color: #41414163;
    color: #cccccc;
}


.canncel-activ-btn, .canncel-mode-btn{
    width: 70%;
    height: 20%;

    margin-bottom: 13px;
    
    background-color:#252526 ;
    border-color: #41414163;
    color: #cccccc;
    font-weight: bold;
    float: left;
}

/* MODAL */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #1e1e1e;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
    height: fit-content;
  }
  
  /* The Close Button */
  .close {
    color: #cccccc;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modalbtn{
    margin-left: auto;
    margin-right: auto; 
    float: none !important;
    width: 200px !important;
    height: 50px !important;
  }

  .modal-content input{
    margin-bottom: 10px;
    background-color: #252526;
    color: #cccccc;
  }

  .modal-content p{
    text-align: center;
  }
